#footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 3rem 0 1rem;

  img {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}