#headerBar {
  padding: 10px 20px;
  border-radius: 7px;
  background-image: url('sun.png');
  background-position-y: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px black;
  cursor: pointer;
}